@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  /* Violet */
  --color-secondary: #10b981;
  /* Emerald */
  --color-background: #0f172a;
  /* Slate 900 */
  --color-surface: #1e293b;
  /* Slate 800 */
}

/* Custom base styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-background text-gray-200 antialiased min-h-screen;
}